body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.guess-my-number {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #3498db;
}

p {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    border: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#feedback {
    font-weight: bold;
    color: #333;
}
